<?xml version="1.0"?>
<rdf:RDF xmlns="{{base_url}}#"
     xml:base="{{base_url}}"
     xmlns:cc="http://creativecommons.org/ns#"
     xmlns:owl="http://www.w3.org/2002/07/owl#"
     xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
     xmlns:tax="https://w3id.org/EUTaxO#"
     xmlns:{{prefix}}="{{base_url}}#"
     xmlns:xml="http://www.w3.org/XML/1998/namespace"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema#"
     xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
     xmlns:vann="http://purl.org/vocab/vann/"
     xmlns:terms="http://purl.org/dc/terms/"
     xmlns:darwin="http://rs.tdwg.org/dwc/terms/">
    <owl:Ontology rdf:about="{{base_url}}">
        <owl:versionIRI rdf:resource="{{base_url}}#{{date_}}"/>
        <owl:imports rdf:resource="https://w3id.org/EUTaxO#"/>
        <cc:license rdf:datatype="http://www.w3.org/2001/XMLSchema#string">https://opensource.org/licenses/MIT</cc:license>
        <terms:contributor rdf:datatype="http://www.w3.org/2001/XMLSchema#string">Carlos Alberto Martínez Muñoz</terms:contributor>
        <terms:created rdf:datatype="http://www.w3.org/2001/XMLSchema#dateTime">{{date_}}</terms:created>
        <terms:creator rdf:datatype="http://www.w3.org/2001/XMLSchema#string">José F. Aldana-Martín</terms:creator>
        <terms:description rdf:datatype="http://www.w3.org/2001/XMLSchema#string">EUdaphobase Taxonomy Ontology for the European Soil-Biology Data Warehouse for Soil Protection for the kingdom {{kingdom}}.</terms:description>
        <terms:title rdf:datatype="http://www.w3.org/2001/XMLSchema#string">EUTaxO - EUdaphobase Taxonomy Ontology for {{kingdom}}</terms:title>
        <vann:preferredNamespacePrefix rdf:datatype="http://www.w3.org/2001/XMLSchema#string">{{prefix}}</vann:preferredNamespacePrefix>
        <vann:preferredNamespaceUri rdf:datatype="http://www.w3.org/2001/XMLSchema#anyURI">{{base_url}}#</vann:preferredNamespaceUri>
        <rdfs:label rdf:datatype="http://www.w3.org/2001/XMLSchema#string">EUTaxO - EUdaphobase Taxonomy Ontology for {{kingdom}}</rdfs:label>
    </owl:Ontology>
    


    <!-- 
    ///////////////////////////////////////////////////////////////////////////////////////
    //
    // Annotation properties
    //
    ///////////////////////////////////////////////////////////////////////////////////////
     -->

    


    <!-- http://creativecommons.org/ns#license -->

    <owl:AnnotationProperty rdf:about="http://creativecommons.org/ns#license"/>
    


    <!-- http://purl.org/dc/terms/contributor -->

    <owl:AnnotationProperty rdf:about="http://purl.org/dc/terms/contributor"/>
    


    <!-- http://purl.org/dc/terms/created -->

    <owl:AnnotationProperty rdf:about="http://purl.org/dc/terms/created"/>
    


    <!-- http://purl.org/dc/terms/creator -->

    <owl:AnnotationProperty rdf:about="http://purl.org/dc/terms/creator"/>
    


    <!-- http://purl.org/dc/terms/description -->

    <owl:AnnotationProperty rdf:about="http://purl.org/dc/terms/description"/>
    


    <!-- http://purl.org/dc/terms/title -->

    <owl:AnnotationProperty rdf:about="http://purl.org/dc/terms/title"/>
    


    <!-- http://purl.org/vocab/vann/preferredNamespacePrefix -->

    <owl:AnnotationProperty rdf:about="http://purl.org/vocab/vann/preferredNamespacePrefix"/>
    


    <!-- http://purl.org/vocab/vann/preferredNamespaceUri -->

    <owl:AnnotationProperty rdf:about="http://purl.org/vocab/vann/preferredNamespaceUri"/>
    

</rdf:RDF>



<!-- Generated by the OWL API (version 4.5.9.2019-02-01T07:24:44Z) https://github.com/owlcs/owlapi -->

